.dot .selected{
    background: #C18FB4 !important;
}
/*
.slide > div{
    width: 100%;
    height: 100%;
}




.slide img .resume{
    width: 80% !important;
}

.resume_width{

}
.resume_height{
    
}*/