@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-medium-blue:#0B1E49;*/
  --bg-light-blue:#87A9CF;
  --bg-beige:#E1CBD7;
  --bg-light-pink: #C18FB4;
  --bg-black-blue: #0D1E2E;
  --bg-dark-blue: #213B54;
}
    /*
@media (prefers-color-scheme: dark) {
  :root {

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

  }
}    */

body {
  display:flex;
  justify-content: center;
  height:100%;
  width: 100vw;
  background-color: var(--bg-black-blue);
  position: relative;
  z-index: 30;
  overflow-x: hidden;
  overflow-y:hidden;
}

main{
  /*max-width: 800px;
  width: 100vw;*/
  box-shadow: black 0px 10px 20px 2px;
}
#carousel_img_wrapper .carousel .thumb{
  border: 3px solid #5a5a5a !important;
}
#carousel_img_wrapper .carousel .thumb.selected{
  border: 3px solid #C18FB4 !important;
}
#carousel_img_wrapper .carousel .thumb.selected:hover,
#carousel_img_wrapper .carousel .thumb:hover{
  border: 3px solid white !important;
}

/*INPUT*/
input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select, textarea {
    padding: 1vh;
    line-height: 1.4;
    background-color: transparent;
    border: 2px solid var(--bg-dark-blue);
    border-radius: 3px;
    color: var(--bg-dark-blue);
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: var(--bg-beige);
  }

/*SELECT*/
select:focus,
select:active {
    outline: 0;
}
select:hover{
  background-color: var(--bg-dark-blue);
  color: var(--bg-beige)
}
select:hover > option, 
select > option:before{
  color: var(--beige);
}
select > option label {
    background-color: var(--bg-dark-blue);
    color: var(--bg-black-blue);
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-black-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-dark-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-light-blue);
}


#project_popup > div:first-child{
  background-color: rgb(13 30 46 / var(--tw-bg-opacity));
}
